<ion-view>
	<div class='row'>
		<div class="list list-inset">
        	<h1 class='title'>Login</h1>
        	<span ng-bind='login_status'></span>
        	<form ng-submit='login()' name='myForm'>
	        	<label class="item item-input">
	            	<input type="text" placeholder="Username" ng-model="username">
	          	</label>
		        <label class="item item-input">
		            <input type="password" placeholder="Password" ng-model="password">
		        </label>
		        <button class="button button-block button-positive" type='submit'>Submit</button>
        	</form>
        </div>
	</div>
</ion-view>