<ion-view class='login_view' ng-init='loginCtrl.check_login()' >
	<div id='login_title' class='row'>
		<div class='col col-40'>
			<img src='img/simmpli.png' class='logo'>
		</div>
		<div class='col col-75 col-center'>
			<span id='title' class='title'>Simmpli</span>
		</div>
	</div>
	<div class='row'>
		<div class='col center'>
			<h4 class='title'>SignIn</h4>
		</div>
	</div>
	<div class='row'>
		<div class='col center'>
			<span class='title' ng-bind='loginCtrl.login_status'></span>
		</div>
	</div>
	<div class='row'>
		<div class='col'>
			<form ng-submit='loginCtrl.login()' name='loginForm'>
				<label class='item item-input'>
					<input ng-model='loginCtrl.username' type='text' placeholder='Username' required>
		        </label>
		        <label class='item item-input'>
		        	<input ng-model='loginCtrl.password' type='password' placeholder='Password' required>
		        </label>
		        <button id='login_submit' class='button button-block' type='submit' ng-disabled='loginForm.$invalid'>Submit</button>
			</form>
		</div>
	</div>
</ion-view>